name: Build Mac

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: brew install cmake make libomp cairo fmt
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
      - name: Run build script
        run: |
          ./Source/BuildResources/makeMacAppQtBundle.sh ${QT_ROOT_DIR}/bin
      - name: Upload Mac binary
        uses: actions/upload-artifact@v4
        with:
          name: LightwaveExplorerMac
          path: build/LightwaveExplorerMacOS.dmg
